{% extends "layout.twig" %}

{% set showMenu = false %}

{% block title %}Alerts{% endblock %}
{% block bodyClass %}transparent{% endblock %}

{% block content %}
<section class="">
    <div class="container">
        <div class="col">
            {#<div class="vh-100 d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <img src="/static/images/alerts/subscriber.gif" />
                    <p id="infomessage-wrapper" class="panda-text panda-text-small">
                        katja_on hat erneut abonniert.<br> katja_on ist nun schon seit 12 Monaten ein besonderer Panda.
                    </p>
                    <p id="inputmessage-wrapper" class="panda-text panda-text-small">
                        Dies ist ein Test 12345
                    </p>
                </div>
            </div>#}
            <div class="vh-100 d-flex align-items-center justify-content-center flex-column">
                <div style="height: 315px">
                    &nbsp;
                </div>
                <div class="text-center height: 450px">
                    <div id="image">
                        <img src="" />
                    </div>
                    {#<img src="/static/images/alerts/subscriber.gif" />#}
                    {#<img src="/static/images/alerts/follower.gif" />#}
                    {#<img src="/static/images/alerts/cheer.gif" />#}
                    {#<img src="/static/images/alerts/raid.gif" />#}
                </div>
                <div class="text-center" style="height: 315px">
                    <p id="infomessage-wrapper" class="panda-text panda-text-small mt-3"></p>
                    <p id="inputmessage-wrapper" class="panda-text panda-text-small"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var alerts = [];
    var socket = io();
    var silenceDuration = 2000;  // 2 Sekunden Stille

    function showAlert(alert) {
        // Elemente auswählen
        var imageElement = document.querySelector('#image img');
        var audioElement = new Audio(alert.soundUrl);
        var inputMessageElement = document.querySelector('#inputmessage-wrapper');
        var infoMessageElement = document.querySelector('#infomessage-wrapper');

        // Lautstärke setzen
        audioElement.volume = alert.volume || 1;  // Standardwert ist 1, falls kein Wert für volume vorhanden ist

        // Nachrichten setzen, falls vorhanden
        inputMessageElement.innerHTML = alert.inputmessage || "";
        infoMessageElement.innerHTML = alert.infomessage || "";

        // FadeIn-Effekt für das Bild
        setTimeout(function() {
            imageElement.classList.add('showing');
        }, 0);

        // Bild setzen und Sound abspielen
        imageElement.src = alert.imageUrl;
        audioElement.play();

        // Bei Beendigung des Sounds: Bild und Text ausblenden und nach der Ruhephase den nächsten Alert anzeigen
        audioElement.onended = function() {
            // FadeOut-Effekt für das Bild
            imageElement.classList.remove('showing');

            // Text zurücksetzen
            inputMessageElement.innerHTML = "";
            infoMessageElement.innerHTML = "";

            setTimeout(function() {
                if (alerts.length > 0) {
                    showAlert(alerts.shift());
                } else {
                    // Bildquelle löschen nach dem FadeOut
                    imageElement.src = '';
                }
            }, silenceDuration);
        };
    }

    socket.on('showAlert', function(alert) {
        alerts.push(alert);

        // Wenn gerade kein Alert angezeigt wird und keine Warteschlange vorhanden ist, den neuen Alert sofort anzeigen
        var imageElement = document.querySelector('#image img');
        if (!imageElement.classList.contains('showing') && alerts.length === 1) {
            showAlert(alerts.shift());
        }
    });
</script>
{% endblock %}