{% extends "layout.twig" %}

{% set showMenu = true %}

{% block title %}Commands vom FlauschiPandaBot{% endblock %}

{% block content %}
<section class="m-5">
    <div class="container">
        <div class="col">
            <img src="/static/images/commands.png" class="d-block mx-auto" />
        </div>
    </div>
</section>
<section class="mb-5">
    <div class="container">
        <div class="col">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th>Command</th>
                    <th>Beschreibung</th>
                    <th>Nur Moderator</th>
                </tr>
                </thead>
                <tbody>
                {% for command in commands %}
                <tr>
                    <td>{{command.default.command}}</td>
                    <td>{{command.default.description}}</td>
                    <td>
                        {% if command.default.isModOnly or command.default.isOwnerOnly %}
                        Ja
                        {% else %}
                        Nein
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}