{% extends "layout.twig" %}

{% set showMenu = false %}

{% block title %}Countdown{% endblock %}
{% block bodyClass %}transparent{% endblock %}

{% block content %}
<section class="m-5">
    <div class="container">
        <div class="col text-center">
            <p id="countdown-wrapper"></p>
        </div>
    </div>
</section>

<script src="https://www.hannapanda.de/static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://www.hannapanda.de/static/js/jquery.countdown.min.js" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('countdown', function(msg) {
        var fiveMinutes = new Date().getTime() + 300000;
        $('#countdown-wrapper').countdown(fiveMinutes, function(event) {
            var remaining = event.strftime('%M:%S');
            $(this).html(remaining != '00:00' ? remaining : '');
        });
    });
</script>
{% endblock %}