{% extends "layout.twig" %}

{% set showMenu = false %}

{% block title %}Horniness Level{% endblock %}
{% block bodyClass %}transparent{% endblock %}

{% block content %}
<section class="m-5">
    <div class="container">
        <div class="col text-center">
            <p id="horniness-level-wrapper" {% if hornyLevel == 0 %}class="d-none"{% endif %}>
                Horny Level: <span id="horniness-level">{{ hornyLevel }}</span>%
            </p>
        </div>
    </div>
</section>
<script>
    var socket = io();
    socket.on('hornyLevelChange', function(msg) {
        var element = document.getElementById('horniness-level');
        var wrapper = document.getElementById('horniness-level-wrapper');

        element.innerHTML = msg.newLevel;

        if(msg.newLevel >= 90) {
            wrapper.classList.add("blink_me");
        } else {
            wrapper.classList.remove("blink_me");
        }

        if(msg.newLevel <= 0) {
            wrapper.classList.add("d-none");
        } else {
            wrapper.classList.remove("d-none");
        }
    });
</script>
{% endblock %}