<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://www.hannapanda.de">
    <link rel="dns-prefetch" href="https://www.hannapanda.de">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% if showMenu %}
    {{ include('menu.twig') }}
{% endif %}
{% block content %}{% endblock %}

</body>
</html>
