{% extends "layout.twig" %}

{% set showMenu = false %}

{% block title %}Overlay{% endblock %}
{% block bodyClass %}transparent{% endblock %}

{% block content %}
<div id="root"></div>

<script>
    function playVideo(videoUrl, volume, fullscreen) {
        let video = document.createElement("video");

        video.setAttribute("src", videoUrl);
        video.setAttribute("preload", "auto");
        if(fullscreen) {
            video.setAttribute("class", "fullscreen");
        }
        video.volume = volume;
        video.autoplay = true;

        video.addEventListener('ended', function() {
            video.pause();
            video.removeAttribute('src');
            video.load();
            video.remove();
        });

        document.getElementById("root").appendChild(video);
    }

    function playAudio(audioUrl, volume) {
        let audio = document.createElement("audio");

        audio.setAttribute("src", audioUrl);
        audio.setAttribute("preload", "auto");
        audio.volume = volume;
        audio.autoplay = true;

        audio.addEventListener('ended', function() {
            audio.pause();
            audio.removeAttribute('src');
            audio.load();
            audio.remove();
        });

        document.getElementById("root").appendChild(audio);
    }

    function showImage(imageUrl, duration) {
        let image = new Image();
        image.src = imageUrl;
        $(image).width('50%');
        $(image).hide();
        $('#root').append(image);

        $(image).fadeIn(200).delay(duration).fadeOut(200, () => {
            $(image).delete();
        });
    }

    function showClip(clipId) {

    }

    var socket = io();
    socket.on('playVideo', function(msg) {
        playVideo('/static/video/'+msg.file, msg.volume, msg.fullscreen);
    });
    socket.on('playAudio', function(msg) {
        playVideo('/static/audio/'+msg.file, msg.volume);
    });
    socket.on('showImage', function(msg) {
        showImage('/static/images/'+msg.file, msg.duration);
    });
    socket.on('playClip', function(msg) {
        showClip(msg);
    });
</script>
{% endblock %}