{% extends "layout-blank.twig" %}

{% set showMenu = false %}

{% block title %}Poltergeist{% endblock %}
{% block bodyClass %}transparent{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="/static/css/poltergeist.css">
{% endblock %}

{% block content %}
    <div id="media-container" class="media-container"></div>
    <div id="audio-prompt" class="audio-prompt">
        <a href="#">Klicken, um Audio zu aktivieren</a>
    </div>
    <script type="text/javascript" src="/static/js/poltergeist.bundle.js"></script>
{% endblock %}
