{% extends "layout.twig" %}

{% set showMenu = true %}

{% block title %}Zitate aus Hanna's Chat{% endblock %}

{% block content %}
<section class="m-5">
    <div class="container">
        <div class="col">
            <img src="/static/images/zitate.png" class="d-block mx-auto" />
        </div>
    </div>
</section>
<section class="mb-5">
    <div class="container">
        <div class="col">

        </div>
    </div>
</section>
{% endblock %}